@media only screen and (max-width: 600px) {
    select{
        font-size: 50px;
    }
    .dialog-table-small{
        display: block;
    }
    .dialog-table-large {
        display: none;
    }
    .dialog-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr auto 1fr;
        grid-gap: 15px;
        grid-template-areas: "selector selector" "add add" "table table" "finish close";
        max-width: 600px;
    }

    .dialog-extras-list {
        justify-self: center;
    }

    .title h1{
        font-size: 20px;
    }
}

@media only screen and (min-width: 600px) {
    .dialog-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto 1fr;
        grid-gap: 15px;
        grid-template-areas: 
            "selector add" 
            "table table" 
            "finish close";
    }

    .dialog-table-small {
        display: none;
    }

    .dialog-table-large {
        display: block;
    }
}
    
    .dialog-extras-list {
        grid-column-start: 1;
        grid-column-end: 3;
        justify-self: center;
    }

    .dialog-selector{
        grid-area: selector;
    }

    .dialog-add{
        grid-area: add;
    }

    .dialog-table{
        grid-area: table;
    }

    .dialog-finish{
        grid-area: finish;
    }

    .dialog-close {
        grid-area: close;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr, 1fr;
    }

    .title {
        display: grid;
        justify-content: center;
    }

    .loading {
        display: grid;
        justify-content: center;
    }

    .pizza-special {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-template-rows: 1fr;
        grid-gap: 10px;
        padding: 10px;
    }

    .taco-sample {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    .taco-list {
        list-style: none;
    }

    .taco-list-item {
        float: left;
        font-size: 35px;
    }

    .modal {
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }


    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 90%;
    }